@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    background-color: #030303;
}

.inicio {
    width: 100%;
    height: 930px;
    background-color: #030303;
}


.navbar {
    background-color: #0303037e;
    height: 148px;
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 1px 0px 10rem #030303;
    position: fixed;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    z-index: 100;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.navbar img {
    height: 90px;
    width: 400px;
    cursor: pointer;
}

.navbar img:hover {
    animation: blink 0.2s steps(2, end) 4;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar li a:hover {
    color: #00ff2a;
    transition: all 0.3s;
}

.opnav {
    display: flex;
    gap: 7rem;
}

.irSobre {
    color: #00ff2a;
    /* font-weight: bold 0.4; */
    font-size: larger;
}

.nomeUsuario b {
    color: #00ff2a;
}

.nomeUsuario:hover {
    cursor: default;
}

.img_inicial {
    display: flex;
}

.img_inicial img {
    width: 1475px;
    display: flex;
    cursor: pointer;
    margin-left: 220px;
    margin-top: 100px;
}

.img_inicial video {
    display: flex;
    width: 100%;
    height: 950px;
    object-fit: cover;
    margin-left: 65px;
    cursor: none;
}

.telaDois {
    width: 100%;
    height: 930px;
    background-color: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telaDois .container {
    width: 100%;
    height: 930px;
    display: flex;
    align-items: center;
}

.info_album {
    color: #ffffff;
    font-size: 20px;
    display: flex;
    width: 45%;
    margin-left: 275px;
    flex-direction: column;
}

.info_album h1 {
    font-size: 30px;
}

.img_album {
    filter: invert(100%);
    display: flex;
    width: 100%;
    height: 650px;
    margin-right: 290px;
    justify-content: end;
}

.img_album img {
    animation: bouge 3s infinite alternate-reverse;
}

@keyframes bouge {
    from {
        transform: translateY(1px);
    }

    to {
        transform: translateY(30px);
    }
}

.telaTres {
    width: 100%;
    height: 930px;
    background-color: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.analise_faixas {
    width: 100%;
    height: 930px;
    font-size: 15px;
    color: #ffffff;
}


.analise_faixas .container {
    height: 930px;
    display: flex;
    align-items: center;
}

.faixas_esquerda {
    width: 100%;
    gap: 55px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 80px;
}

.titulo_analise {
    color: #373737;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.titulo_analise:hover {
    color: #ffffffa7;
    transition: all 0.5s;
    cursor: default;
}

.titulo_telaFaixa {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50rem;
}

.faixas_direita {
    width: 100%;
    gap: 55px;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 80px;
}

.botoes {
    flex-direction: row;
}

.analise_faixas p {
    transition: all .1s ease-in-out;
}

.faixas_direita p:hover {
    color: #00ff2a;
    cursor: pointer;
    transition: all 0.4s;
    transform: scale(1.1) translate(-5.5%);
}

.faixas_esquerda p:hover {
    color: #00ff2a;
    cursor: pointer;
    transition: all 0.4s;
    transform: scale(1.1) translate(5.5%);
}

.telaQuatro {
    width: 100%;
    height: 930px;
    background-color: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telaQuatro .container {
    width: 100%;
    height: 930px;
    display: flex;
    align-items: center;
}

.texto_quiz {
    color: #ffffff;
    font-size: 22px;
    display: flex;
    width: 40%;
    height: 15%;
    justify-content: end;
    text-align: end;
    margin-left: 55px;
    flex-direction: column;

}

.texto_quiz h1 {
    display: flex;
    justify-content: end;
}

.texto_quiz u:hover {
    cursor: pointer;
    color: #00ff2a;
    transition: all 0.5s;
}

.esquerda-quiz {
    width: 50%;
    display: flex;
    height: 100%;
}

.imagem_quiz {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.telaCinco {
    width: 90%;
    height: 930px;
    background-color: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telaCinco .container {
    width: 100%;
    height: 930px;
    display: flex;
    align-items: center;
}

.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto_sobre {
    color: #ffffff;
    font-size: 20px;
    display: flex;
    width: 95%;
    text-align: justify;
}

.conteudo-sobre {
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
}

.texto_sobre h1 {
    display: flex;
    color: #ffffff;
    font-size: 35px;
}


.container-sobre {
    position: relative;
    width: 75rem;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capa {
    position: absolute;
    top: 0;
    left: 25%;
    width: 450px;
    height: 450px;
    z-index: 2;
    overflow: hidden;
    /* Capa do álbum ficará por cima */
    transition: transform 0.5s ease, z-index 0.5s ease;
}

.album {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vinil {
    position: absolute;
    top: 0;
    left: 58%;
    /* Começa a partir da metade do contêiner */
    width: 57%;
    height: 100%;
    z-index: 1;
    /* Disco de vinil ficará atrás da capa */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease, z-index 0.5s ease;
}

.disco {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    transform-origin: center;
    /* Centraliza a rotação */
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container-sobre:hover .capa {
    z-index: 1;
    transform: translateX(20px);
}

.container-sobre:hover .vinil {
    z-index: 2;
    transform: translateX(-20px);
}



/* .imagem_sobre {
    display: flex;
    width: 100%;
    height: 650px;
    margin-right: 290px;
    justify-content: end;
}

.imagem_sobre img {
    border-radius: 50%;
    animation: rotate 15s linear infinite;
} */






.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.voltar_Site {
    margin: 1.5%;
}

.voltar_site a {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;

}

.voltar_site a:hover {
    background-color: #00ff2a;
    color: #ffffff;
    transition: all 0.5s;
}

/* FOOTER */

.footer {
    background-color: #1d1d1d;
    height: 180px;
    color: #fff;
    display: flex;
    font-size: 15px;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

/* MODAL */
.contentmodal {
    background-color: #ffffffa8;
    color: #000000;
    margin: 6% auto;
    padding: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.contentmodal button {
    border-color: transparent;
    background-color: #030303;
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    font-size: 20px;
}

.contentmodal a {
    cursor: pointer;
    text-decoration: underline;
    color: #755e5e;
}

.contentmodal a:hover {
    color: #000000;
    transition: all 0.5s;
}

.contentmodal h2 {
    display: flex;
    justify-content: center;
}

.contentmodal button:hover {
    background-color: #00ff2a;
    color: #000000;
    transition: all 0.5s;
    cursor: pointer;
}

.contentmodal span {
    display: flex;
    width: 45rem;
    text-align: center;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal3 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal4 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal5 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal6 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal7 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal8 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal9 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal10 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal11 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal12 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal13 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.modal14 {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #554f4f91;
}

.visual-modal {
    width: 880px;
    height: 400px;
    display: flex;

}

.video_modal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

